
section {
  background-color: #eee;
  border-radius: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}
input {
  width: 95%;
  padding: 8px;
  font-size: 1em;
  
}
ul {
  list-style: none;
}
a {
  color: #ff69b4;
  text-decoration: none;
  border: 1px solid #ff69b4;
  border-radius: 10px;
  padding: 3px 5px;
}